{% extends 'campaign.html' %}


{% block body %}
<div class="container">
	<div class="row">
		<h3>{{campaign['name']}}</h3>
	</div>
	
	<div class="row">
		<li>id :  {{campaign['id']}}</li>
		<li>type : {{campaign['type']}}</li>
		<li>total cards : {{campaign['total_cards']}} </li>
		<li>winners :  {{campaign['winners']}}</li>
		<li>losers :  {{campaign['losers']}}</li>
		<li>total cards scratched : {{campaign['scratched']}} </li>
	</div>

	<div class="row">
		<!-- <textarea>{{js}}</textarea> -->
	</div>
	
{% endblock %}